@font-face {
	font-family: "MusiSync";
	src: url("fonts/MusiSync.ttf") format("truetype");
}


body {
	text-align: center;
	background-color: #1e88e5; /* blue darken-1 */
	color: white;
}

#page1, #page2 {
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-animation-duration: 1.25s;
}

#page1 {
	position: absolute;
	z-index: 2;
}

.instructions {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
}



.titleFont {
	font-size: 3.5rem;
}

.informationalFont {
	font-size: 3.15rem;
	margin-bottom: 1%;
	margin-top: 1%;
	width: 56%;
	margin-left: 22%;
}

#page2 {
	display: none;
	position: absolute;
	z-index: 1;
	/*opacity: 0%;*/
}

.show {
	display: inline-block;
}

.begin {
	font-size: 2rem;
}

/*.begin:hover {
	font-size: 3.25rem;

}*/

.rhythmCollection {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#globalAccuracy {
	font-style: bold;
	font-size: 3rem;
	/*margin-top: 5%;*/
	margin-bottom: -3%;
}


.rhythmDisplays {
	margin: 0 auto;
	margin-top: 4%;
	margin-bottom: 4%;
	font-family: "MusiSync";
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#rhythmDisplayF, #rhythmDisplayJ {
	width: 100%;
	padding-top: 2.5%;
	font-size: 7.5rem;
	position: relative;
	z-index: 2;
}

.drumset {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#drumF, #drumJ {
	display: inline-block;
	width: 15rem;
	height: 15rem;
	line-height: 14rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	background-color: #fb8c00; /*orange darken-1*/
	color: white;
	font-size: 2.5rem;
	margin-left: 5%;
	margin-right: 5%;
	/*margin-top: -1%;*/
}

/* Test Class for animations */

/*Add accuracy transtion*/

/*CSS transitions*/
/*Page 1: Info page - "Go at your own pace, but keep the 4/4 tempo! F controls the top stave, J controls the bottom stave. The number controls how many beats each tap should last for."*/
/*Page 2: Game page - Drumset containing F and J. Animation whenever you click.*/
/*Page 3: Accuracy Page upon pullup. Contains accuracy, accuracy thus far, and so on Click to start new game.*/

/*FIX CENTERING*/
/*When user does one rhythm, the game shows the accuracy, and allows user to click to generate a new rhythms*/

/*Additions!*/
/*New LEVELS!*/