@font-face {
	font-family: "MusiSync";
	src: url("MusiSync.ttf") format("truetype");
}


body {
	text-align: center;
	background-color: #1e88e5; /* blue darken-1 */
	color: white;
}

#globalAccuracy {
	font-style: bold;
	font-size: 3rem;
	margin-top: 4%;
	margin-bottom: -3%;
}

.rhythmDisplays {
	margin: 0 auto;
	margin-top: 4%;
	margin-bottom: 4%;
	font-family: "MusiSync";
	/*clear: both;*/
	width: 25%;
	position: relative;
	/*z-index: 0;*/
}

/*#staveLines {
	/*margin-top: 5%;*/
	/*position: relative;
	z-index: 0;
}

.staveLine {
	position: relative;
	z-index: 0;
	background-color: #eee;
	width: 100%;
	height: 2px;
	margin-top: 5%;
}*/

#rhythmDisplayF, #rhythmDisplayJ {
	/*display: inline-block;*/
	width: 100%;
	text-align: left;

	/*margin: 0 auto;*/
	/*margin-top: 4%;*/
	/*float: left;*/
	padding-top: 2.5%;
	font-size: 7.5rem;
	/*font-family: "MusiSync";*/
	position: relative;
	z-index: 2;
}

#rhythmDisplayF {
	margin-top: -15%;
}


#drumF, #drumJ {
	display: inline-block;;
	width: 15rem;
	height: 15rem;
	line-height: 14rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	background-color: #fb8c00; /*orange darken-1*/
	color: white;
	font-size: 3rem;
	margin: 10%;
	margin-top: -1%;
}


/*CSS transitions*/
/*Page 1: Info page - "Go at your own pace, but keep the 4/4 tempo! F controls the top stave, J controls the bottom stave. The number controls how many beats each tap should last for."*/
/*Page 2: Game page - Drumset containing F and J. Animation whenever you click.*/
/*Page 3: Accuracy Page upon pullup. Contains accuracy, accuracy thus far, and so on Click to start new game.*/

/*Additions!*/
/*New LEVELS!*/