@font-face {
	font-family: "MusiSync";
	src: url("fonts/MusiSync.ttf") format("truetype");
}


body {
	text-align: center;
	background-color: #1e88e5; /* blue darken-1 */
	color: white;
}

#page1, #page2 {
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-animation-duration: 1s;
}

#page1 {
	position: absolute;
	z-index: 2;
}

.instructions {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
}



.titleFont {
	font-size: 3.5rem;
}

.informationalFont {
	font-size: 3.15rem;
	margin-bottom: 1%;
	margin-top: 1%;
	width: 56%;
	margin-left: 22%;
}

#page2 {
	display: none;
	position: absolute;
	z-index: 1;
	opacity: 0%;
}

.show {
	display: inline-block;
}

.hide {
	display: none;
	/*font-size: 15rem;*/
}

.rhythmCollection {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.rhythmHead {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	/*-webkit-animation-duration: 1s;*/
	top: -15%;
}

#globalAccuracy {
	font-size: 3.5rem;
	top: -10%;
}

.rhythmDisplays {
	margin: 0 auto;
	margin-bottom: 2%;
	font-family: "MusiSync";
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#rhythmDisplayF, #rhythmDisplayJ {
	width: 100%;
	padding-top: 2.5%;
	font-size: 7.5rem;
	/*position: relative;*/
	/*float: left;*/
	/*left: 3%;*/
	z-index: 2;
}

.drumset {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#drumF, #drumJ {
	width: 15rem;
	height: 15rem;
	line-height: 14rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	background-color: #fb8c00; /*orange darken-1*/
	color: white;
	font-size: 3.5rem;

}

#drumF {
	margin-left: 30%;
}

#drumJ {
	float: right;
	margin-right: 30%;
	margin-top: -15rem;
}

#levelDisplay {
	/*position: fixed;*/
	float: bottom-right;
	top: 0;
	right: 0;
}

/* Test Class for animations */

/*Add accuracy transtion*/

/*CSS transitions*/
/*Page 1: Info page - "Go at your own pace, but keep the 4/4 tempo! F controls the top stave, J controls the bottom stave. The number controls how many beats each tap should last for."*/
/*Page 2: Game page - Drumset containing F and J. Animation whenever you click.*/
/*Page 3: Accuracy Page upon pullup. Contains accuracy, accuracy thus far, and so on Click to start new game.*/

/*FIX CENTERING*/
/*When user does one rhythm, the game shows the accuracy, and allows user to click to generate a new rhythms*/

/*Additions!*/
/*New LEVELS!*/